NEXT_PUBLIC_SUPABASE_URL=https://krooyxiovirwviezovel.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtyb295eGlvdmlyd3ZpZXpvdmVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MDI1NzIsImV4cCI6MjA5MzM3ODU3Mn0.krTYiuPz4CQFwdBC6yIr_8tD4eFUZo4D2HNusLnNF9g
